.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  background-color: white;
  border-radius: 40px 0 40px 0;
  overflow: hidden;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}


.correct {
  background-color: #28a74675;
}

.incorrect {
  background-color: #dc354657;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
#progressBar, #progressBarFull {
  border-radius: 20px;
  overflow: hidden;
}
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}


/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        border-color: red;
        transform: rotate(0deg);
    }
    25% {
        border-color: yellow;
        transform: rotate(90deg);
    }
    50% {
        border-color: green;
        transform: rotate(180deg);
    }
    75% {
        border-color: blue;
        transform: rotate(270deg);
    }
    100% {
        border-color: red; /* Reset to the initial color */
        transform: rotate(360deg);
    }
}

