:root {
  --background-color: #e4eafc;
  --primary-color: #884afc;
  --secondary-color: #f4f4f4;
  --text-color: #333;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}
h1, h2, h3, h4 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
}
h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}
/* UTILITIES */
.container {
  background: linear-gradient(#884afc00, #884afc), url('img/q-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100dvh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
container > * {
  width: 100%
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 40px;
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 50px;
  width: 82px;
  cursor: pointer;
  /* position: relative; */
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}
.bttn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-right: 10px;
  border-bottom-right-radius: 15px;
  height: 100%;
  font-weight: bold;
  width: 52px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}
.main-content .btn {
  padding: 10px 20px;
}
.container a {
  color: var(--secondary-color);
  text-decoration: none;
}
.btn:hover{
  transform: translateY(-1px);
  background-color: darken(var(--primary-color), 10%);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
/* Additional styles for forms and buttons */
#contact-form {
  margin-top: 20px;
}
#finalScore {
  width: 115px;
  border-radius: 40px;
  background-color: #d0d9db;
  box-shadow: inset -1px 1px 5px var(--secondary-color), inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}
#saveScoreBtn:hover {
  background-color: #884ab3af;
}
.main-content {
  background-color: rgba(245, 245, 220, 0.342);
  border-radius: 20px;
  height: 50dvh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-content .nav-btn {
  position: absolute;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
/* FORMS */
form {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 4rem;
}
input {
  margin: 0;
  width: 20rem;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 4rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
input::placeholder {
  color: #aaa;
}
