:root {
  --background-color: #e4eafc;
  --primary-color: #884afc;
  --secondary-color: #f4f4f4;
  --text-color: #333;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: var(--primary-color);
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  background: linear-gradient(#e4eafc00,  #884afc), url('img/q-bg.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
/* .btn {
  border: none;
  z-index: 0;
} */
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 40px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 12px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.container a {
  color: var(--secondary-color);
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-4px);
  background-color: darken(var(--primary-color), 10%);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
    }

.btn:active {
  transform: translateY(2px);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.btn::before {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1; /* Behind the button */
  background-size: 600%;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  filter: blur(1px); /* Animation */
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
  
}

.btn::after {
  z-index: -1;
  width: 100%;
  height:100%;
  background-color: var(--primary-color);
  left: 0;
  top: 0;
  border-radius: 10px;  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.btn:hover::before {
  opacity: .7; /* Adjusted for a better glow effect */
}

.btn:active::after {
  background: transparent;  
}

.btn:active {
  color: #000;
  font-weight: bold;
}

/* Additional styles for form and buttons */
#contact-form {
    margin-top: 20px;
}

input, textarea {
  display:block; 
  margin-bottom:10px; 
  width:100%; 
  padding:.5em; 
  border-radius:.25em; 
  border:none; 
  box-shadow:.1em .1em .5em rgba(0,0,0,.3);
}

button.play-button, button.glow-button {
  margin-top:10px; 
  width:auto; 
  display:inline-block; 
}

#finalScore {
  width: 115px;
  border-radius: 40px;
  background-color: #d0d9db;
  box-shadow: inset -1px 1px 5px var(--secondary-color), inset 5px 5px 12px rgba(0, 0, 0, .16);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

#saveScoreBtn:hover {
  background-color: #98aeb3;
}



.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(0, 0, 0, 0.5);
}

input::placeholder {
  color: #aaa;
}
body {
  margin-bottom: 0px;
}